doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title #{page.meta.title} | #{site.meta.name}

    link(
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
      crossorigin="anonymous"
    )
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300")
    link(rel='stylesheet', href='/s/css/main.css')

  body.is-loading(style=`background-image: url("/s/img/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("${site.meta.bgUrl}")`)

    #wrapper

      section#main
        header
          span.avatar
            img(src='/s/img/avatar.jpg', alt='')
          block content
        footer
          ul.icons
            for social in site.meta.social
              if social.url
                li
                  a(class=( social.fa ? 'fa-' + social.fa : '' ) href=social.url) Twitter

      footer#footer
        ul.copyright
          li &copy; #{site.meta.name || 'Jane Doe'}
          li
            | Design:
            |
            |
            a(href='http://html5up.net') HTML5 UP

    script.
      if ('addEventListener' in window) {
        window.addEventListener('load', function() {
          document.body.className = document.body.className.replace(/\bis-loading\b/, '')
        })
      }
